.Layout-header {
    background-color: #434343;
    margin-bottom: 20px;
    display: flex;
    padding: 11.5px 200px;
    align-content: center;
    align-items: center;
}

.Layout-header-img {
    max-height: 60px;
    padding: 5px;
    vertical-align: bottom;
}

.Layout-header-title {
    font-size: 30px;
    line-height: 28px;
    font-weight: bolder;
    color: #b4c498;
    padding-left: 20px;
    text-align: right;
    display: inline-block;
}

.Layout-header-subtitle {
    vertical-align: middle;
    color: #4d4d4d;
    font-weight: bold;
    background-color: #b4c498;
    padding: 2px;
    margin-left: 20px;
}

.Layer-header-p {
    margin: 5px 0 -5px 0;
    color: #31322e;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1.2px;
    text-align: center;
}
